body {
  /* font settings */
  /* font-family: CMDR80CLMN-Regular, monospace; */
  font-size: 20px;
  color: rgb(255, 228, 73);
  background-color: rgb(15, 15, 15);
}
a:link {
  color: rgb(255, 228, 73);
}
a:visited {
  color: rgb(255, 228, 73);
}
a:hover {
  color: rgb(255, 228, 73);
}
a:active {
  color: rgb(255, 228, 73);
}